#deck-slide {
  width: 960px;
  height: 540px;
}
#deck-slide img {
  display: inline;
  position: absolute;
}

#deck-background-non-blurred, #deck-background-blurred,
#two-men-non-blurred, #two-men-blurred,
#ak47, #ak47-non-blurred, #ak47-blurred {
	-webkit-transition: all .5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#two-men {
	left: 403px;
	top: 208px;
}
#ak47 {
	z-index: 50;
	top: 136px;
	left: 217px;
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
	-webkit-transform-origin: right 20%;
	transform-origin: right 20%;
}
#deck-background { position: relative; }
#deck-background img, #two-men img, #ak47 img {
	position: absolute;
}
#deck-background-non-blurred, #two-men-non-blurred, #ak47-blurred {
	opacity: 1;
}
/*
#two-men-blurred {
	opacity: 0;
}
#ak47-non-blurred {
	opacity: 0.6;
}
*/