#deck-slide {
  position: relative;
  width: 960px;
  height: 540px;
}
#deck-slide img {
  display: inline;
  position: absolute;
}

#two-men {
	left: 403px;
	top: 208px;
}
#ak47 {
	top: 136px;
	left: 217px;
	-webkit-transition: all .5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#ak47 img {
	position: absolute;
}
#ak47-non-blurred {
	opacity: 1;
	filter: blur(strength=50);
}
#ak47-blurred {
	opacity: 0;
}

#ak47-non-blurred,
#ak47-blurred {
	-webkit-transition: all .5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
