#intro-slide div {
  font: 80pt Helvetica;
  color: #fff;
  margin-left: 20pt;
  position: absolute;
  bottom: 5px;
  right: -35px;
  cursor: pointer;
}

#intro-slide div div {
  position: absolute;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(90deg);
  font-size: 30%;
}