#intro-slide div {
  font: 80pt Helvetica;
  color: #fff;
  margin-left: 20pt;
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 55px;
  cursor: pointer;
  white-space: nowrap;
  text-align: right;
}

#intro-slide div div {
  position: absolute;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(90deg);
  font-size: 30%;
}