#rocket-slide {
  width: 960px;
  height: 540px;
}
#rocket-slide img {
  position: absolute;
}
#rocket {
  top: 75px;
  left: 30px;
}
#pirate-head {
  left: 663px;
  top: 41px;
  -webkit-animation: payattention 5s ease-in-out 2s infinite alternate;
  -webkit-transform-origin: 70% 80%;
}

@-webkit-keyframes payattention{
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
  }
}

#rocket-slide .timer {
  left: 480px;
  top: 480px;
  z-index: 900;
}

#rocket-slide [data-choice-panel="left"] video{
  left: -300px;
}

#rocket-slide [data-choice-panel="right"] video{
  left: -300px;
}