#ship-slide {
  position: relative;
  width: 960px;
  height: 540px;
}
#ship-slide img {
  display: inline;
}
#ship-background {
  position: absolute;
}
#ship-foreground {
  position: absolute;
  top: 23px;
}
#hijacker-left {
  position: absolute;
  top: 159px;
  left: 447px;
}
#hijacker-right {
  position: absolute;
  top: 209px;
  left: 681px;
}
#hostage-left {
  position: absolute;
  top: 315px;
  left: 221px;
}
#hostage-right {
  position: absolute;
  top: 209px;
  left: 342px;
}

*[data-choice-panel="left"] video{
  position: relative;
  left: -300px;
}
