html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#video-container {
	position: relative;
	text-align: center;
	margin-top: 20px;
}

#baseline {
	height: 95%;
}

#intro-video {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

*[data-parallax] {
  position: relative;
}

.slide {
  width: 960px;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0px;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.slide[current] {
  visibility: visible;
}

*[data-choice-panel]{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  border: 20px solid rgba(255, 255, 255, 0.6);
  z-index: 20;
  overflow: hidden;
  font: 50pt Verdana;
}

*[data-choice-panel] video {
  height: 100%;
}

*[data-choice-panel="left"]{
  left: 0;
}

*[data-choice-panel="right"]{
  right: 0;
}

.timer {
  position: absolute;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}

@-webkit-keyframes loading{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading{
  font: 18pt Verdana;
  color: #fff;
  position: fixed;
  bottom: 5px;
  right: 5px;
  -webkit-animation: loading 1s ease-in-out 0.2s infinite alternate;
}

#peace-slide, #death-slide{
  width: 960px;
  height: 540px;
}

#peace-slide video, #death-slide video{
  width: 960px;
  height: 540px;
}