html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#video-container {
	position: relative;
	text-align: center;
	margin-top: 20px;
}

#baseline {
	height: 95%;
}

#intro-video {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

*[data-parallax] {
  position: relative;
}

.slide {
  width: 960px;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0px;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.slide[current] {
  visibility: visible;
}