html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#intro-video {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

*[data-parallax] {
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
}

.slide[current] {
  visibility: visible;
}